{{ partial "header.html" . }}

{{ .Scratch.Set "sidemenu" false }}

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			{{ partial "breadcrumb.html" . }}

			<div class="page-heading">
				<h1>{{ title .Title }}</h1>
			</div>

			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<ul class="list-group">
						{{ range .Paginator.Pages }}
						<li class="list-group-item">
							<a href="{{ .RelPermalink }}">{{ .Title }}</a>
						</li>
						{{ end }}
						{{ template "_internal/pagination.html" . }}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{{ partial "footer.html" . }}
